#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;

  // --card-background: purple;
  // --card-button-background: teal;
  // --card-button-hover: orange;
  // --card-text: black;
  // --card-button-text: white;
  // --card-image-bg: orange;  
  // --card-soc-icon: black;
  // --card-button-text-hover: white;

  // --card-background: #3aafa9;
  // --card-button-background: #2b7a78;
  // --card-button-hover: orange;
  // --card-text: black;
  // --card-button-text: white;
  // --card-image-bg: orange;  
  // --card-soc-icon: white;
  // --card-button-text-hover: white;

  // --card-background: #f5e6cc;
  // --card-button-background: #a64ac9;
  // --card-button-hover: #fccd04;
  // --card-text: black;
  // --card-button-text: white;
  // --card-image-bg: orange;
  // --card-soc-icon: white;
  // --card-button-text-hover: white;

  //--card-background: #b4dfe5;
  --card-background: teal;
  --card-button-background: #e2922f;
  --card-button-hover: #303c6c;
  --card-text: black;
  --card-button-text: black;
  --card-button-text-hover: white;
  --card-image-bg: var(--card-button-background);
  --card-soc-icon: black;
  --border-radius: 2px;

  // color theme ideas: 
  // https://visme.co/blog/website-color-schemes/
  // https://www.shutterstock.com/blog/color-palettes-for-websites?gclsrc=aw.ds&amp=1&gclid=CjwKCAiA04arBhAkEiwAuNOsIq6YNoHIvyd2DJ3NZDe63jQEIQI6-L6sOYYDiErvGIne-GhvuZ6lMRoCSlYQAvD_BwE&kw=&gad_source=1
  // https://hookagency.com/blog/website-color-schemes/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  padding-bottom: 15px;
}

li {
  padding: 5px;
}


.users-list-item {
  color:black;
  border: 2px solid black;
  width: 300px;
  margin: 10px;
  background-color: var(--card-background);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--card-button-text-hover);
  }
  & h3 {
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.0rem;
  }
  & p {
    padding-top: 0.2rem;
    color: darkblue;
  }
}

// color theme: https://i.pinimg.com/736x/f3/62/f7/f362f786c1c1f7dd5e1a402aab6a141a.jpg

.centerthis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-black {
  color:black;
}